@import url(https://fonts.googleapis.com/css2?family=Rubik:wght@100;200;300;400;500;600;800;900&display=swap);


.registration-hero {
    height: 170px;

}

.registration-hero-title {
    padding-top: 100px;
}

.registration-hero-title h1 {
    color: #1D537C;
    text-align: center;
    font-size: 35px;
    font-family: 'Rubik', sans-serif;
}

.registration-main {
    height: 736px;
    background-color: #f5f5f5;
}

.registration-main form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 80px;
}

.registration-main form label {
    font-size: 18px;
}

form .name label {
    padding-left: 35px;
}

form .surname {
    padding-right: 5px;
}

form .select-course {
    padding-right: 60px;
}

form .feedback {
    display: flex;
}

form .feedback {
    padding-right: 250px;
}

.registration-main form input,
.registration-main form select,
.registration-main form textarea {
    width: 578px;
    height: 40px;
    padding: 8px 12px;
    font-size: 17px;
    border: 2px solid #D9D9D9;
    outline: none;
}

.registration-main form textarea {
    height: 125px;
}

form button {
    text-align: center;
    margin-left: 50px;
    padding: 16px 50px;
    font-size: 15px;
    font-weight: 500;
    background: linear-gradient(to right, #3AA0FF, #137CF9, #0152F9);
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 9px;
    color: #fff;
}